<article class="about-me">
  <section class="personal-infos">
    <p>- NICE TO MEET YOU!</p>
    <h2>Nishan Singh</h2>
    <h3>Frontend Developer</h3>
    <a href="" class="lets-talk">Got a project?</a>
  </section>
  <section class="infos">
    <p>
      I am a software developer with a passion for learning and creating. I have
      experience with a variety of languages and frameworks, but I am always
      looking to learn more. I am currently working on a few projects, including
      this website, and I am always looking for new projects to work on.
    </p>
    <table>
      <tr>
        <td>Age:</td>
        <td>22</td>
      </tr>
      <tr>
        <td>Born in:</td>
        <td>India</td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>+91 9876543210</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>
          <a href="mailto:singh007nishan@gmail.com">singh007nishan@gmail.com</a>
        </td>
      </tr>
    </table>
  </section>
</article>
