@import "../../../variables.scss";

.about-me {
  display: flex;
  justify-content: center;
  padding: $spacing-block $spacing-inline-normal;
  color: $dark-color;
  gap: $m-48;
}

.personal-infos {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  gap: $m-16;
  h2 {
    font-size: $heading-font-size;
  }
  p {
    font-weight: 500;
  }
  h3 {
    font-size: $subheading-font-size;
    font-weight: 500;
  }
  a {
    max-width: fit-content;
  }
}

.infos {
  flex-basis: 55%;
  p {
    line-height: 1.8;
    color: $main-color;
    margin-block-end: $m-16;
    flex-basis: 85%;
    max-width: 75ch;

    em,
    a {
      font-style: normal;
      color: $yellow-color;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    margin-block: $m-24;
    gap: $m-16;
    li {
      display: flex;
      align-items: center;
      gap: $m-16;
      max-width: 65ch;
    }
    svg {
      flex-basis: 15%;
      width: 48px;
      height: 48px;
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-block: $m-24;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: $m-16;
  th,
  td {
    display: flex;
    flex-direction: column;
    background-color: $light-color;
    padding: $m-8 $m-16;
  }
  td:nth-child(even) {
    font-weight: bold;
  }
  td:nth-child(odd) {
    text-decoration: underline;
    text-transform: uppercase;
  }
  a {
    color: $dark-color;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $yellow-color;
    }
  }
}

@media (min-width: 2048px) {
  .about-me {
    padding: $spacing-block-bigger $spacing-inline-bigger;
  }
}
@media (max-width: 1024px) {
  .about-me {
    gap: $m-16;
    padding-inline: $spacing-inline-small;
  }
}

@media (max-width: 872px) {
  .about-me {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .about-me {
    padding: $spacing-block-mobile $spacing-inline-mobile;
    align-items: flex-start;
    gap: $m-32;
  }
  table {
    gap: $m-16;
    margin-block-end: 0;
    th,
    td {
      padding: $m-8 $m-12;
    }
  }
}
