@import "../../../variables";

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: $header-height;
  background-color: #fff;
  padding-inline: $spacing-inline;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  color: $dark-color;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  strong {
    color: $blue-color;
  }
  &:hover,
  &:focus {
    color: $yellow-color;
  }
}

.nav-links-list {
  display: flex;
  align-items: center;
  li {
    margin-inline-start: $m-32;
  }
}

.toggle-btn {
  display: none;
  @media (max-width: 768px) {
    display: block;
    font-size: 2rem;
  }
}

.toggle-btn {
  rect {
    transition: y 175ms ease-in 175ms, rotate 175ms ease-in, opacity 0ms 175ms;
    transform-origin: center;
  }
  &[aria-expanded="true"] rect {
    transition: y 175ms ease-in, rotate 175ms ease-in 175ms, opacity 0ms 175ms;
  }
  &[aria-expanded="true"] rect:nth-child(odd) {
    y: 15;
  }
  &[aria-expanded="true"] rect:nth-child(1) {
    rotate: 45deg;
  }
  &[aria-expanded="true"] rect:nth-child(3) {
    rotate: -45deg;
  }
  &[aria-expanded="true"] rect:nth-child(even) {
    opacity: 0;
  }
}

.each-nav-link {
  color: $dark-color;
  font-weight: 600;
  font-size: 1.2rem;
}

.external-links {
  display: none;
  margin-inline-start: $m-32;
  svg {
    width: 32px;
    height: 32px;
    fill: $dark-color;
    &:hover {
      fill: $blue-color;
    }
  }
}
@media (min-width: 2048px) {
  header {
    margin-inline: 5%;
    width: auto;
  }
}
@media (min-width: 1500px) and (min-height: 1200px) {
  header {
    padding-inline: $spacing-inline-bigger;
    margin-inline: 5%;
  }
}

@media (max-width: 768px) {
  header {
    padding-inline: $spacing-inline-mobile;
  }
  nav {
    position: fixed;
    transform: translateX(232px);
    top: $header-height;
    right: 0;
    width: 232px;
    height: 100%;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    padding: $spacing-block 0 0 $m-16;
    gap: $spacing-block;
    .nav-links-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: $m-32;
    }
  }
  .show-nav-links {
    transform: translateX(0);
    visibility: visible;
  }
  .external-links {
    display: block;
    ul {
      display: flex;
      flex-direction: row;
      gap: $m-16;
    }
  }
}
