@import "../../../variables";

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $header-height;
  padding-inline: $spacing-inline-normal;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.header-scrolled {
  background-color: rgba($color: #fff, $alpha: 0.7);
  backdrop-filter: blur(8px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  .each-nav-link,
  .logo {
    color: $dark-color;
  }
  .each-nav-link {
    transition: color 125ms ease-in-out;
    border-bottom: 2px solid transparent;
    &:hover,
    &:focus {
      border-color: $yellow-color;
    }
  }
  .toggle-btn {
    svg {
      fill: $dark-color;
    }
  }
}

.active-link {
  border-color: $yellow-color;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  color: $white-color;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  strong {
    animation: addedColor 0ms linear 1.1s forwards;
  }
  &:hover,
  &:focus {
    color: $yellow-color;
  }
}

@keyframes addedColor {
  from {
    color: $white-color;
  }
  to {
    color: $blue-color;
  }
}

.nav-links-list {
  display: flex;
  align-items: center;
  li {
    margin-inline-start: $m-32;
  }
}
.each-nav-link {
  color: $white-color;
}

.toggle-btn {
  display: none;
  svg {
    fill: $white-color;
  }
  @media (max-width: 768px) {
    display: block;
    font-size: 2rem;
    z-index: 99;
  }
}

.toggle-btn {
  rect {
    transition: y 175ms ease-in 175ms, rotate 175ms ease-in, opacity 0ms 175ms;
    transform-origin: center;
  }
  &[aria-expanded="true"] rect {
    transition: y 175ms ease-in, rotate 175ms ease-in 175ms, opacity 0ms 175ms;
  }
  &[aria-expanded="true"] rect:nth-child(odd) {
    y: 15;
  }
  &[aria-expanded="true"] rect:nth-child(1) {
    rotate: 45deg;
  }
  &[aria-expanded="true"] rect:nth-child(3) {
    rotate: -45deg;
  }
  &[aria-expanded="true"] rect:nth-child(even) {
    opacity: 0;
  }
}

.open {
  svg {
    fill: $dark-color;
  }
}

.each-nav-link {
  font-weight: 600;
  font-size: 1.2rem;
}

.external-links {
  display: none;
  margin-inline-start: $m-32;
  svg {
    width: 32px;
    height: 32px;
    fill: $dark-color;
    &:hover {
      fill: $blue-color;
    }
  }
}
@media (min-width: 2048px) {
  header {
    padding-inline: $spacing-inline-bigger;
  }
}

@media (max-width: 1024px) {
  header {
    padding-inline: $spacing-inline-small;
  }
}

@media (max-width: 872px) {
  header {
    padding-inline: $spacing-inline-small;
  }
}

@media (max-width: 768px) {
  header {
    padding-inline: $spacing-inline-mobile;
  }
  .each-nav-link {
    color: $dark-color;
  }
  nav {
    position: fixed;
    transform: translateX(232px);
    top: 0;
    right: 0;
    width: 232px;
    height: 100vh;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    padding: $spacing-block 0 0 $m-16;
    gap: $spacing-block;
    .nav-links-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: $m-32;
    }
  }
  .show-nav-links {
    transform: translateX(0);
    visibility: visible;
  }
  .external-links {
    display: block;
    ul {
      display: flex;
      flex-direction: row;
      gap: $m-16;
    }
  }
}
