@import "../../../variables.scss";

.intro {
  background-color: $light-color;
  display: flex;
  align-items: center;
  padding-inline: $spacing-inline;
  height: calc(100vh - $header-height);
  // height: calc(100dvh - $header-height);
  color: $dark-color;
  h1,
  h2,
  h3 {
    font-size: clamp(2rem, 5vw, 5rem);
    font-weight: 800;
    line-height: 1.2;
    em {
      color: $blue-color;
      font-style: normal;
    }
  }
  p {
    margin-block: $m-32;
  }
}

.intro-text {
  flex-basis: 60%;
}

.lets-talk {
  margin-block: $m-32;
}

.intro-image {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  img {
    max-width: 80%;
  }
}

aside {
  display: flex;
  flex-direction: column;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: $yellow-color;
  }
  a {
    margin: $m-8 $m-16;
    font-weight: 600;
    color: $dark-color;
  }
}

@media (max-width: 872px) {
  .intro {
    h1,
    h2,
    h3 {
      line-height: 1.3;
    }
  }
  .intro {
    flex-direction: column-reverse;
    padding-inline: $spacing-inline-mobile;
    padding-block: $spacing-block-mobile;
    height: auto;
  }
  .intro-text {
    width: 100%;
    margin-block: $spacing-block-mobile;
  }
  .intro-image {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .intro-text {
    margin-block: $spacing-block-mobile;
  }
  .intro-image {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .intro-text {
    margin-block: $spacing-block-mobile;
  }
  .intro-image {
    width: 100%;
  }
}
