@import "../../../variables.scss";

.intro {
  // background: url("/assets/img/hero-bg.jpg") no-repeat center center/cover;
  background: url(/assets/img/hero-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: $dark-color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white-color;
  padding-inline: $spacing-inline-normal;
  min-height: 100vh;
  min-width: 100%;
  p {
    margin-block: $m-32;
  }
}

em,
h1,
h2,
h3 {
  font-size: clamp(2.05rem, 5vw, 5rem);
  font-weight: 800;
  line-height: 1.2;
  position: relative;
  width: fit-content;
}

h2 {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid orange;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

em {
  color: $blue-color;
  font-style: normal;
  backdrop-filter: blur(8px);
}

@keyframes typewriter {
  100% {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.default-btn {
  margin-block: $m-32;
  font-weight: 600;
  &:hover {
    background-color: transparent;
    color: $white-color;
  }
}

aside {
  display: flex;
  flex-direction: column;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: $yellow-color;
  }
  a {
    margin: $m-8 $m-16;
    font-weight: 600;
    backdrop-filter: blur(4px);
    color: $white-color;
    width: fit-content;
  }
}

@media (min-width: 2048px) {
  .intro {
    padding-inline: $spacing-inline-bigger;
  }
}
@media (max-width: 1024px) {
  .intro {
    padding-inline: $spacing-inline-small;
  }
}

@media (max-width: 872px) {
  .intro {
    h1,
    h2,
    h3 {
      line-height: 1.3;
    }
  }
  .intro {
    flex-direction: column-reverse;
    padding-block: $spacing-block-mobile;
    height: auto;
    gap: $m-48;
  }
  .intro-text {
    width: 100%;
  }
  .intro-image {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .intro {
    padding-inline: $spacing-inline-mobile;
    padding-block: $spacing-block-mobile;
    gap: $m-48;
  }
}
