<article class="intro" id="home">
  <section class="intro-text">
    <h1>Hi, I'm <em>Nishan!</em></h1>
    <h2 translate="no">Frontend Developer</h2>
    <h3>Based in Leipzig</h3>
    <a routerLink="/" fragment="contact" class="default-btn">Let's talk</a>
    <aside>
      <a href="tel:+49 178 29 77 050"> +49 178 2977050 </a>
      <a href="mailto:singh007nishan@gmail.com">contact@nishan-singh.com</a>
    </aside>
  </section>
  <section class="intro-image">
    <img src="assets/img/character-photo.png" alt="my(Developer's) image" />
  </section>
</article>

<app-about-me id="about-me"></app-about-me>
<app-skills id="skills"></app-skills>
<app-projects id="portfolio"></app-projects>
<app-contact-me id="contact"></app-contact-me>
