<article class="intro">
  <section class="intro-text">
    <h1>Hi, I'm <em>Nishan!</em></h1>
    <h2>Frontend Developer</h2>
    <h3>Based in Leipzig</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia quo
      excepturi quae, atque tenetur consequuntur?
    </p>
    <a href="#" class="lets-talk">Let's talk</a>
    <aside>
      <a href="tel:+49 178 29 77 050"> +49 178 29 77 050 </a>
      <a href="mailto:singh007nishan@gmail.com">singh007nishan@gmail.com</a>
    </aside>
  </section>
  <section class="intro-image">
    <img src="assets/img/character-photo.png" alt="my(Developer's) image" />
  </section>
</article>
