@import "../../../variables.scss";

.projects-wrapper {
  padding: $spacing-block $spacing-inline-normal;
}

.project-info {
  margin-block-end: $m-32;
  h2,
  p {
    margin-block-end: $m-16;
  }
  h2 {
    font-size: $heading-font-size;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: $m-48;
}

figure {
  display: flex;
  justify-content: space-between;
  gap: 120px;
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
  img {
    width: 500px;
    border-radius: 8px;
    object-fit: cover;
  }
  figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $m-24;
    h3 {
      font-size: $subheading-font-size;
      margin-block-end: $m-16;
    }
    p {
      line-height: 1.8;
    }
  }
}

.tech-info {
  font-weight: bold;
  margin-block-start: $m-16;
}

.github-link {
  margin-block-start: $m-16;
  margin-inline-end: $m-32;
  background-color: $white-color;
  border: 1px solid $dark-color;
  color: $dark-color;
  &:hover {
    background-color: $dark-color;
    color: $white-color;
  }
}

@media (min-width: 2048px) {
  .project-info {
    h2 {
      margin-block-end: $m-48;
    }
  }
  .projects {
    gap: 120px;
  }
  .projects-wrapper {
    padding: $spacing-block-bigger $spacing-inline-bigger;
  }
  figure {
    img {
      width: 700px;
    }
  }
}

@media (min-width: 1800px) {
  figure {
    img {
      width: 1000px;
    }
  }
}

@media (min-width: 1300px) {
  figure {
    justify-content: initial;
    figcaption {
      width: 50ch;
    }
  }
}
@media (max-width: 1200px) {
  figure {
    gap: $m-48;
  }
  .github-link {
    margin-inline-end: $m-16;
  }
}

@media (max-width: 1024px) {
  figure {
    background: linear-gradient($yellow-color, $yellow-color) top left,
      linear-gradient($yellow-color, $yellow-color) top left,
      linear-gradient($yellow-color, $yellow-color) top right,
      linear-gradient($yellow-color, $yellow-color) top right,
      linear-gradient($yellow-color, $yellow-color) bottom left,
      linear-gradient($yellow-color, $yellow-color) bottom left,
      linear-gradient($yellow-color, $yellow-color) bottom right,
      linear-gradient($yellow-color, $yellow-color) bottom right;
    background-size: 2px 20px, 20px 2px;
    background-repeat: no-repeat;
    flex-direction: column;
    gap: $m-32;
    padding: $m-24;
    &:nth-child(even) {
      flex-direction: column;
    }
    img {
      width: 100%;
    }
    .github-link {
      margin-inline-end: $m-8;
    }
  }

  @media (max-width: 872px) {
    .projects-wrapper {
      padding-inline: $spacing-inline-small;
    }
    .projects {
      gap: $m-32;
    }
  }
  .github-link {
    margin-inline-end: $m-8;
  }
}

@media (max-width: 768px) {
  .projects-wrapper {
    padding: $spacing-block-mobile $spacing-inline-mobile;
  }
  figure {
    figcaption {
      width: 100%;
      gap: $m-8;
    }
  }
  .github-link,
  .default-btn {
    margin-block-start: $m-16;
  }
}
