<section class="projects-wrapper">
  <section class="project-info">
    <p>- PROJECTS</p>
    <h2>Recent completed works</h2>
  </section>
  <section class="projects">
    <figure>
      <img
        loading="lazy"
        src="/assets/img/join.png"
        alt="Kanban Task Manager Join"
        class="project-screenshot"
      />
      <figcaption class="fig-caption">
        <div class="project-desc">
          <h3 translate="no">Join</h3>
          <p>
            Task manager inspired by the Kanban System. Create and organize
            tasks using drag and drop functions, assign users and categories.
          </p>
          <p class="tech-info" translate="no">JavaScript | HTML | CSS</p>
        </div>

        <div class="project-btn-wrapper">
          <a
            href="https://github.com/nishan-singh/join/"
            class="github-link default-btn"
            target="_blank"
            >GitHub</a
          >
          <a
            href="https://join.nishan-singh.com/"
            class="direct-link default-btn"
            target="_blank"
            >Live test</a
          >
        </div>
      </figcaption>
    </figure>

    <figure>
      <img
        loading="lazy"
        src="/assets/img/pro-movies.png"
        alt="Pro Movies App"
        class="project-screenshot"
      />
      <figcaption class="fig-caption">
        <div class="project-desc">
          <h3 translate="no">Pro Movies</h3>
          <p>
            Movies App to get information about latest movies and TV shows. You
            can search for movies and watch the trailer.
          </p>
          <p class="tech-info" translate="no">
            Angular | TypeScript | HTML | SCSS | REST API
          </p>
        </div>
        <div class="project-btn-wrapper">
          <a
            href="https://github.com/nishan-singh/pro-movies/"
            class="github-link default-btn"
            target="_blank"
            >GitHub</a
          >
          <a
            href="https://pro-movies.nishan-singh.com/"
            class="direct-link default-btn"
            target="_blank"
            >Live test</a
          >
        </div>
      </figcaption>
    </figure>

    <figure>
      <img
        loading="lazy"
        src="/assets/img/crm.png"
        alt="El Pollo Loco Game"
        class="project-screenshot"
      />
      <figcaption class="fig-caption">
        <div class="project-desc">
          <h3 translate="no">Simple CRM</h3>
          <p>
            Simple CRM to manage customers and income. You can add, edit and
            delete customers. It also represents the income and expenses with a
            bar chart.
          </p>
          <p class="tech-info" translate="no">
            Angular | TypeScript | Firebase | HTML | SCSS
          </p>
        </div>
        <div class="project-btn-wrapper">
          <a
            class="github-link default-btn"
            href="https://github.com/nishan-singh/crm"
            target="_blank"
            >GitHub</a
          >
          <a
            href="https://crm.nishan-singh.com/"
            target="_blank"
            class="direct-link default-btn"
            >Live test</a
          >
        </div>
      </figcaption>
    </figure>

    <figure>
      <img
        loading="lazy"
        src="/assets/img/el-pollo-loco.png"
        alt="El Pollo Loco Game"
        class="project-screenshot"
      />
      <figcaption class="fig-caption">
        <div class="project-desc">
          <h3 translate="no">El Pollo Loco</h3>
          <p>
            Jump, run and throw game based on object-oriented approach. Help
            Pepe to find coins and tabasco salsa to fight against the crazy hen.
          </p>
          <p class="tech-info" translate="no">JavaScript | HTML | CSS</p>
        </div>
        <div class="project-btn-wrapper">
          <a
            class="github-link default-btn"
            href="https://github.com/nishan-singh/el_pollo_loco"
            target="_blank"
            >GitHub</a
          >
          <a
            href="https://el-pollo-loco.nishan-singh.com/"
            target="_blank"
            class="direct-link default-btn"
            >Live test</a
          >
        </div>
      </figcaption>
    </figure>
  </section>
</section>
