<section class="projects-wrapper" aria-label="projects section">
  <section class="project-info" aria-label="projects section heading">
    <p>
      {{ "project-sec.sub-title" | translate }}
    </p>
    <h2>
      {{ "project-sec.title" | translate }}
    </h2>
  </section>
  <section class="projects" aria-label="projects">
    <figure>
      <img
        loading="lazy"
        src="/assets/img/join.png"
        alt="Kanban Task Manager Join"
        class="project-screenshot"
      />
      <figcaption class="fig-caption">
        <div class="project-desc">
          <h3>
            {{ "project-sec.projects.project-1.title" | translate }}
          </h3>
          <p>
            {{ "project-sec.projects.project-1.desc" | translate }}
          </p>
          <p class="tech-info">
            {{ "project-sec.projects.project-1.tech" | translate }}
          </p>
        </div>

        <div class="project-btn-wrapper">
          <a
            href="https://github.com/nishan-singh/join/"
            class="github-link default-btn"
            target="_blank"
            >GitHub</a
          >
          <a
            href="https://join.nishan-singh.com/"
            class="direct-link default-btn"
            target="_blank"
            >Live test</a
          >
        </div>
      </figcaption>
    </figure>

    <figure>
      <img
        loading="lazy"
        src="/assets/img/pro-movies.png"
        alt="Pro Movies App"
        class="project-screenshot"
      />
      <figcaption class="fig-caption">
        <div class="project-desc">
          <h3>
            {{ "project-sec.projects.project-2.title" | translate }}
          </h3>
          <p>
            {{ "project-sec.projects.project-2.desc" | translate }}
          </p>
          <p class="tech-info">
            {{ "project-sec.projects.project-2.tech" | translate }}
          </p>
        </div>
        <div class="project-btn-wrapper">
          <a
            href="https://github.com/nishan-singh/pro-movies/"
            class="github-link default-btn"
            target="_blank"
            >GitHub</a
          >
          <a
            href="https://pro-movies.nishan-singh.com/"
            class="direct-link default-btn"
            target="_blank"
            >Live test</a
          >
        </div>
      </figcaption>
    </figure>

    <figure>
      <img
        loading="lazy"
        src="/assets/img/crm.png"
        alt="Simple CRM"
        class="project-screenshot"
      />
      <figcaption class="fig-caption">
        <div class="project-desc">
          <h3>
            {{ "project-sec.projects.project-3.title" | translate }}
          </h3>
          <p>
            {{ "project-sec.projects.project-3.desc" | translate }}
          </p>
          <p class="tech-info">
            {{ "project-sec.projects.project-3.tech" | translate }}
          </p>
        </div>
        <div class="project-btn-wrapper">
          <a
            class="github-link default-btn"
            href="https://github.com/nishan-singh/crm"
            target="_blank"
            >GitHub</a
          >
          <a
            href="https://crm.nishan-singh.com/"
            target="_blank"
            class="direct-link default-btn"
            >Live test</a
          >
        </div>
      </figcaption>
    </figure>
  </section>
</section>
