@import "../../../variables.scss";

.imprint-wrapper {
  background-color: #fff5f6;
  padding: $spacing-block $spacing-inline;
  display: flex;
  flex-direction: column;
  gap: $m-32;
  min-height: calc(100vh - 288px);
}

h1 {
  font-size: clamp(2rem, 4.5vw, 4rem);
}

h2 {
  font-size: $subheading-font-size;
}

p {
  line-height: 1.8;
}

@media (min-width: 1500px) and (min-height: 1200px) {
  .imprint-wrapper {
    padding-inline: $spacing-inline-bigger;
  }
}

@media (max-width: 768px) {
  .imprint-wrapper {
    padding: $spacing-block-mobile $spacing-inline-mobile;
  }
}
