@import "../../../variables.scss";

.contact-wrapper {
  background-color: #e9f9ff;
  padding: $spacing-block $spacing-inline-normal;
  display: flex;
  gap: $m-48 * 2;
  isolation: isolate;
}

.info-about-me,
.contact-form {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: $m-32;
  p {
    position: relative;
    input,
    textarea {
      background-color: $white-color;
      border: 1px solid #eee;
      padding: $input-padding;
      border-radius: 4px;
      position: relative;
      width: 100%;
      &:focus {
        outline: transparent;
      }
    }
    .required-message {
      color: #e61c40;
      font-size: 0.75rem;
    }
    svg {
      position: absolute;
      right: 12px;
      top: 14px;
    }
  }
  button {
    width: max-content;
  }
  .mail-sent {
    position: fixed;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background-color: $dark-color;
    color: $white-color;
    display: flex;
    border-radius: 8px;
    gap: $m-12;
    padding: $btn-padding;
    align-items: center;
    justify-content: center;
    transition: bottom 0.3s ease-in-out;
    width: max-content;
    svg {
      position: initial;
    }
  }
  .pop-up {
    bottom: 16px;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: $m-32;
}

input,
textarea {
  font-size: 17px;
  &:focus {
    border-color: #ccc;
  }
}

textarea {
  resize: none;
  max-height: 150px;
}

.default-btn {
  margin-block-start: 0;
  font-size: 17px;
}

.info-about-me {
  isolation: isolate;
  h2,
  p {
    margin-block-end: $m-16;
  }
  h2 {
    font-size: $heading-font-size;
    max-width: fit-content;
    position: relative;
  }
  p {
    max-width: 50ch;
  }
}

.contact-infos {
  display: flex;
  flex-direction: column;
  gap: $m-16;
  margin-block-start: $m-48;
  a {
    width: fit-content;
    color: $dark-color;
    border-bottom: 1px solid $dark-color;
    font-weight: bold;
    transition: border-color 0.3s ease-in-out;
    &:hover {
      border-color: transparent;
    }
  }
}

@media (min-width: 2048px) {
  .contact-wrapper {
    padding: $spacing-block-bigger $spacing-inline-bigger;
  }
}

@media (max-width: 1024px) {
  .contact-wrapper {
    padding-inline: $spacing-inline-small;
  }
}

@media (max-width: 872px) {
  .contact-wrapper {
    flex-direction: column;
    gap: $m-8;
  }
  .info-about-me,
  .contact-form {
    margin-inline-end: 0;
  }
  .contact-form {
    margin-block-start: $m-48;
  }
  .contact-infos {
    margin-block-start: $m-32;
  }
}

@media (max-width: 768px) {
  .contact-wrapper {
    padding: $spacing-block-mobile $spacing-inline-mobile;
  }
  .contact-infos {
    margin-block-start: $m-16;
  }
}
