<section class="contact-wrapper">
  <section class="info-about-me">
    <p>- LET'S CONNECT</p>
    <h2>Get in touch</h2>
    <p>
      I'm currently available to take on new projects, so feel free to send me a
      message about anything that you want to run past me.
    </p>
    <div class="contact-infos">
      <a href="tel:+49 178 29 77 050"> +49 178 2977050 </a>
      <a href="mailto:singh007nishan@gmail.com">singh007nishan@gmail.com</a>
    </div>
  </section>
  <form action="post" class="contact-form">
    <input type="text" id="name" placeholder="Enter your name" required />
    <input type="email" id="email" placeholder="Enter your email" required />
    <textarea
      name="message"
      id="message"
      cols="30"
      rows="10"
      required
      placeholder="Enter your message"
    ></textarea>
    <button type="submit" class="default-btn">Send message :)</button>
  </form>
</section>
