@import "../../../variables.scss";

.skills-wrapper {
  background-color: $light-color-2;
  display: flex;
  gap: $m-48;
  padding: $spacing-block $spacing-inline;
}

.skills-text-wrapper {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  gap: $m-16;
  h2 {
    font-size: $heading-font-size;
  }
  p {
    max-width: 50ch;
  }
}

.skills-list {
  flex-basis: 55%;
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $m-48;
  li {
    display: flex;
    flex-direction: column;
    gap: $m-8;
  }
}

svg {
  width: 48px;
  height: 48px;
}

@media (min-width: 1500px) and (min-height: 1200px) {
  .skills-wrapper {
    padding: $spacing-block-bigger $spacing-inline-bigger;
  }
}

@media (max-width: 1024px) {
  .skills-wrapper {
    gap: $m-32;
  }
  .skills-text-wrapper {
    flex-basis: 50%;
  }
  .skills-list {
    flex-basis: 50%;
  }
  ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .skills-wrapper {
    padding: $spacing-block-mobile $spacing-inline-mobile;
    flex-direction: column;
    gap: $m-48;
  }
  .skills-text-wrapper,
  .skills-list {
    width: 100%;
  }
  ul {
    grid-template-columns: repeat(3, 1fr);
    li {
      justify-content: center;
      align-items: flex-start;
    }
  }
}
