@import "variables";
@import "fonts";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Karla", sans-serif;
  background-color: $white-color;
  color: $dark-color;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
  margin-block: 0;
}

app-header {
  max-width: 2048px;
  margin-inline: auto;
}

main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 288px);
}

app-footer {
  margin-top: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  border: transparent;
  outline: transparent;
  background-color: transparent;
  cursor: pointer;
}

input,
textarea {
  outline: transparent;
  font-family: "Karla", sans-serif;
}

p,
a {
  font-size: clamp(1rem, 3vw, 1.125rem);
}

.default-btn {
  display: inline-block;
  width: fit-content;
  background-color: $dark-color;
  color: $white-color;
  border-radius: $btn-border-radius;
  padding: $btn-padding;
  margin-block-start: $m-24;
  font-family: "karla", sans-serif;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  &:hover {
    border-color: $dark-color;
    background-color: $white-color;
    color: $dark-color;
  }
}

// q: custom scrollbar
::-webkit-scrollbar {
  width: 6px;
  background-color: $white-color;
}

::-webkit-scrollbar-thumb {
  background-color: $blue-color;
  border-radius: 10px;
}

@media (min-width: 2048px) {
  html {
    display: flex;
    justify-content: center;
  }
  .container {
    border-left: 1px solid $yellow-color;
    margin-inline: 5%;
  }
  .imprint-wrapper {
    margin-inline: auto;
  }
}
