$main-color: #55527c;
$dark-color: #130f49;
$light-color: #effbf8;
$light-color-2: #f3f9ff;
$white-color: #fff;
$yellow-color: #ff972d;
$blue-color: #a5a6ff;
$spacing-inline: 4em;
$spacing-block: 5em;
$spacing-inline-mobile: 2em;
$spacing-block-mobile: 3em;
$btn-border-radius: 0.25em;
$btn-padding: 1em 2em;
$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125);
$heading-font-size: clamp(2rem, 4.5vw, 2.75rem);
$subheading-font-size: clamp(1.125rem, 4vw, 1.75rem);
$p-font-size: 1rem;
$m-48: 48px;
$m-32: 32px;
$m-24: 24px;
$m-16: 16px;
$m-12: 12px;
$m-8: 8px;
$header-height: 64px;
